
 <div class="container-fluid " >
     <div class="HeaderDiv d-none d-md-block">
       <!-- <a class="btn btn-primary btn1">Contact Me</a> -->
       <button class="btn HeadBtn">My Turn </button>
    </div>
    <div class="HeaderDivSm d-md-none">
        <button class="btn HeadBtnsm">My small </button>
    </div>
    
 </div>
 <!-- Navigation Bar -->
 <div class="container-fluid">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top HomeNav">
        <img  src="../../assets/titleIcon.png" width="45" height="45">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto navItems">
            <li clas="navbar-item">
              <a href="#" class="nav-link">Home</a>
              </li>
            <li clas="navbar-item">
              <a href="#" class="nav-link">About</a>
              </li>
              <li clas="navbar-item">
                <a href="#" class="nav-link">Service</a>
                </li>
              <li clas="navbar-item">
                <a href="#" class="nav-link">Portfolio</a>
                </li>
              <li clas="navbar-item">
                <a href="#" class="nav-link">Vlog</a>
            </li>  
            <li clas="navbar-item">
                <a href="#" class="nav-link">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
 </div>

 
 