 <div class="container-fluid aboutHeadDiv">
    <div class="">
        <h1 class="aboutHead">About Me</h1>
    </div>
    <div class="AboutBorder "></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 aboutContentDiv">
         
        <div>
            <h3 class="aboutContent1">Hi, I’m Sidhanth. Nice to meet you.</h3>
            <h5 class="aboutContent2">I have serious passion for developing user friendly , 
            </h5>
            <h5 class="aboutContent2">
                creating intuitive and dynamic user experiences.
            </h5>
            <h5 class="aboutContent2">
                Let's make <span class="aboutContentSpan">something special</span>.
            </h5>
        </div>
    </div>  
  
 </div>
 <div class="container-fluid aboutBodyUpDiv">
    <div class="container aboutBodyDiv">
        <!-- SkillBar -->
        <div class="skillsetDiv">
            <div>
                <h1 class="skillsetHead">Skill Set</h1>
            </div>
            <div class="skillsetBorder "></div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" >
                    <!-- HTML SKills -->
                    <div class="skillBarDiv">
                        <p class="skillName">HTML</p>
                        <div class="skillBarBack">
                            <div class="skills html">95%</div>
                        </div>
                    </div>
                    <!-- Javascript Skiils -->
                    <div class="skillBarDiv">
                        <p class="skillName">Javascript</p>
                        <div class="skillBarBack">
                            <div class="skills js">85%</div>
                        </div>
                    </div>
                    <!-- NodeJs -->
                    <div class="skillBarDiv">
                        <p class="skillName">NodeJs</p>
                        <div class="skillBarBack">
                            <div class="skills nodeJs">75%</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" >
                    <!-- CSS Skills -->
                    <div class="skillBarDiv">
                        <p class="skillName">CSS</p>
                        <div class="skillBarBack">
                            <div class="skills css">95%</div>
                        </div>
                    </div>
                    <!-- jQuery Skills -->
                    <div class="skillBarDiv">
                        <p class="skillName">jQuery</p>
                        <div class="skillBarBack">
                            <div class="skills jQuery">80%</div>
                        </div>
                    </div>
                    <!-- Asp.net Skills -->
                    <!-- jQuery Skills -->
                    <div class="skillBarDiv">
                        <p class="skillName">ASP.Net</p>
                        <div class="skillBarBack">
                            <div class="skills asp">65%</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" >
                    <!-- Bootstrap Skills -->
                    <div class="skillBarDiv">
                        <p class="skillName">Bootstrap</p>
                        <div class="skillBarBack">
                            <div class="skills bootstrap">90%</div>
                        </div>
                    </div>
                    <!-- Angular Skills -->
                    <div class="skillBarDiv">
                        <p class="skillName">Angular</p>
                        <div class="skillBarBack">
                            <div class="skills angular">85%</div>
                        </div>
                    </div>
                    <!-- MySQL Skills -->
                    <div class="skillBarDiv">
                        <p class="skillName">MySQL</p>
                        <div class="skillBarBack">
                            <div class="skills mySql">75%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Services -->
        
        <div class="ServicesDIv">
            <div>
                <h1 class="ServicesHead">Services</h1>
            </div>
            <div class="AboutBorder "></div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                    <div class="card" >
                        <div class="card-body">
                            <i class="fa fa-desktop faIcon d-flex justify-content-center" aria-hidden="true"></i>
                            <h5 class="card-title cardName">Web Design</h5>
                            <p class="card-text cardText">I offer the latest design trends and I constantly improve it to make your website stay up to the mark.</p>
                            
                        </div>
                    </div>
                    <div class="card" >
                        <div class="card-body">
                            <i class="fa fa-paper-plane faIcon d-flex justify-content-center" aria-hidden="true"></i>
                            <h5 class="card-title cardName">Speed</h5>
                            <p class="card-text cardText">I use Content Delivery Network to make sure that your website's performance/speed is very high.</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                    <div class="card" >
                        <div class="card-body">
                            <i class="fa fa-mobile faIcon d-flex justify-content-center"  aria-hidden="true"></i>
                            <h5 class="card-title cardName">Full Responsive</h5>
                            <p class="card-text cardText">I design websites for every screen size available and make sure it looks great on every device.</p>
                            
                        </div>
                    </div>
                    <div class="card" >
                        <div class="card-body">
                            <i class="fa fa-search-plus faIcon d-flex justify-content-center"  aria-hidden="true"></i>
                            <h5 class="card-title cardName">Analyzing</h5>
                            <p class="card-text cardText">I keep a track on your website's traffic and accordingly improvise to get more traffic on your website.</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                    <div class="card" >
                        <div class="card-body">
                            <i class="fa fa-cog faIcon d-flex justify-content-center" aria-hidden="true"></i>
                            <h5 class="card-title cardName">Customizations</h5>
                            <p class="card-text cardText">For every website projects I take, I offer three major customizations for free for a period of one year.</p>
                            
                        </div>
                    </div>
                    <div class="card" >
                        <div class="card-body">
                            <i class="fa fa-book faIcon d-flex justify-content-center" aria-hidden="true"></i>
                            <h5 class="card-title cardName">Online teaching</h5>
                            <p class="card-text cardText">I also share my knowledge through online and offline platforms which helps you to learn new technologies.</p>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>