<div class="container-fluid projectsDiv">
    <div class="">
        <h1 class="ProjectHead">My Projects</h1>
    </div>
    <div class="ProjectBorder "></div>
    <div class="container ProjectGrid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                <div class="box1 ">
                    <img class="projImage img-fluid" src="../../assets/project1.jpg" alt="">
                    <h3 class="title">Arizona</h3>
                    <ul class="icon">
                        <li><a ><i class="fa fa-search" aria-hidden="true"></i></a></li>
                        <li><a ><i class="fa fa-link" aria-hidden="true"></i></a></li>
                    
                        
                    </ul>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                <div class="box1 " >
                    <img class="projImage" src="../../assets/project2.jpg" alt="">
                    <h3 class="title">WeUnita</h3>
                    <ul class="icon">
                        <li><a ><i class="fa fa-search" aria-hidden="true"></i></a></li>
                        <li><a ><i class="fa fa-link" aria-hidden="true"></i></a></li>
                    
                        
                    </ul>
                </div>
            </div>  
             <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                <div class="box1 " >
                    <img class="projImage" src="../../assets/project3.jpg" alt="">
	                        <h3 class="title">BL Migration</h3>
                    <ul class="icon">
                        <li><a ><i class="fa fa-search" aria-hidden="true"></i></a></li>
                        <li><a ><i class="fa fa-link" aria-hidden="true"></i></a></li>
                    
                        
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                <div class="box1 ">
                    <img class="projImage" src="../../assets/project4.jpg" alt="">
                    <h3 class="title">Arizona</h3>
                    <ul class="icon">
                        <li><a ><i class="fa fa-search" aria-hidden="true"></i></a></li>
                        <li><a ><i class="fa fa-link" aria-hidden="true"></i></a></li>
                    
                        
                    </ul>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                <div class="box1 ">
                    <img class="projImage img-fluid" src="../../assets/project5.jpg" alt="">
                    <h3 class="title">Arizona</h3>
                    <ul class="icon">
                        <li><a ><i class="fa fa-search" aria-hidden="true"></i></a></li>
                        <li><a ><i class="fa fa-link" aria-hidden="true"></i></a></li>
                    
                        
                    </ul>
                </div>
            </div>  
             <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                <div class="box1 ">
                    <img class="projImage img-fluid" src="../../assets/project6.png" alt="">
                    <h3 class="title">Arizona</h3>
                    <ul class="icon">
                        <li><a ><i class="fa fa-search" aria-hidden="true"></i></a></li>
                        <li><a ><i class="fa fa-link" aria-hidden="true"></i></a></li>
                    
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
