<div class="container-fluid GetInTouchDiv">
    <div class="">
        <h1 class="PostHead">Get In Touch</h1>
    </div>
    <div class="PostBorder "></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 contactFormDiv">
                <form class="contactForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input name="Name" id="name" placeholder="Name *" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input name="Email" id="email" placeholder="Email *" class="form-control" type="email">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input name="Subject" id="subject" placeholder="Subject *" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea name="message" id="message" placeholder="Your message *" rows="3" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="send">
                                <button class="btn btn-danger"> Send message</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="contact-info media" style="margin-top: 14%;">
                    <div class="icon">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="dark-color font-alt">Email</h6>
                        <p>amara.sidhanth7@gmail.com</p>
                    </div>
                </div>
                <div class="contact-info media" >
                    <div class="icon">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="dark-color font-alt">Address</h6>
                        <p>Hyderabad,India</p>
                    </div>
                </div>
                <div class="contact-info media" >
                    <div class="icon">
                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="dark-color font-alt">Freelance</h6>
                        <p>Available</p>
                    </div>
                </div>
                
             
                <!-- <div class="contact-info media box-shadow">
                    <div class="icon">
                        <i class="fa fa-desktop faIcon " aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="dark-color font-alt">Our Address</h6>
                        <p>123 Stree New York City , United States Of America 750065.</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
   
        
  
</div>
<div class=" footerDIv">
        <div class="nav">
           
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
           
        </div>
        <p  class="copyRight">Amara Sidhanth <span style="color: #fc0853;">© 2020</span> </p>
</div>