<div class="container-fluid">
    <div class="">
        <h1 class="PostHead">Recent Posts</h1>
    </div>
    <div class="PostBorder "></div>
    <div class="container RecentPostDiv">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="card" >
                    <img class="card-img-top" src="../../assets/SoftwareThumbnail.JPG">
                    <div class="card-body">   
                        <h5 class="card-title">How to be a Software Developer</h5>
                        <p class="card-text">How to become a software developer without coding knowldge</p>
                        <a href="https://youtu.be/ZWOohrq2E2w" target="_blank" class="btn btn-primary linkBtn">Learn more</a>
                        
                    </div>
                </div>
             
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
             
                <div class="card" >
                    <img class="card-img-top" src="../../assets/WebDevelopmentThumbnail.jpg">
                    <div class="card-body">   
                        <h5 class="card-title">Web Development Tutorials</h5>
                        <p class="card-text">This is the playlist of Web development tutorials in simple way for beginners.</p>
                        <a href="https://youtu.be/2n8aI73Zzr4" target="_blank" class="btn btn-primary linkBtn">Learn more</a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                 
                <div class="card" >
                    <img class="card-img-top" src="../../assets/JobThumbnail.JPG">
                    <div class="card-body">   
                        <h5 class="card-title">Simple Tips To Get A Job.</h5>
                        <p class="card-text">This video is all about simple tips to get a Job without applying in a job portals.</p>
                        <a href="https://youtu.be/C3ozXSyNGtA" target="_blank" class="btn btn-primary linkBtn">Learn more</a>
                        
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- <h1>kfdsfbdsfdsfdsyufbdsfbdsfndsfdsfbdsf</h1> -->
</div>